
.nav {
  align-items: stretch;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  gap: 2rrm;
  padding: 0 1rem
}

.navbar-brand {
 
color:blue;
font-size: 50px;
font-weight: bold;

}



.nav li.active {

  background-color: blue;
}


.nav li:hover {

  background-color: whitesmoke;
}

body {

  background-color: rgb(224, 206, 224);
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url("doublecats.jpeg");

} 

.nav-item {

  font-size: 30px;

}


.center h1 {

  
  display: grid;
  justify-content: center;
 
}